Notebook Objectives
* Converting data to pandas dataframes
* Pickling dataframes for quick access

In [3]:
from sqlalchemy import create_engine
import pandas as pd
import datetime

In [2]:
cnx = create_engine('postgresql://ubuntu@3.23.86.219:5432/flights')

# weather data for ATL airport
weather = pd.read_sql_query(
    '''
    SELECT * FROM airport_weather aw WHERE airportcode = 'KATL'
    ''', cnx
)

weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2285 entries, 0 to 2284
Data columns (total 13 columns):
eventid           2285 non-null object
Type              2285 non-null object
severity          2285 non-null object
StartTime(UTC)    2285 non-null datetime64[ns]
EndTime(UTC)      2285 non-null datetime64[ns]
timezone          2285 non-null object
airportcode       2285 non-null object
locationlat       2285 non-null float64
locationlng       2285 non-null float64
city              2285 non-null object
county            2285 non-null object
state             2285 non-null object
zipcode           2285 non-null object
dtypes: datetime64[ns](2), float64(2), object(9)
memory usage: 232.2+ KB

In [13]:
month_mask = weather['StartTime(UTC)'].map(lambda x: x.month) == 1
year_mask = weather['StartTime(UTC)'].map(lambda x: x.year) == 2018

weather_jan18 = weather[month_mask & year_mask]

In [16]:
weather_jan18.to_pickle('/Users/wasilaq/Metis/Proj3/pickled_files/weather_jan18')

In [14]:
# flight data for ATL airport
flights = pd.read_sql_query(
    '''
    SELECT * FROM flights_jan18 fj WHERE origin = 'ATL'
    ''', cnx
)

flights.head()

,dayofmonth,dayofweek,flightdate,marketing_airline_network,dot_id_marketing_airline,flight_number_marketing_airline,operating_airline,dot_id_operating_airline,tail_number,flight_number_operating_airline,...,arrdel15,arrtimeblk,cancelled,diverted,crselapsedtime,actualelapsedtime,airtime,flights,distance,divairportlandings
0,29,1,2018-01-29,UA,19977,421,UA,19977,N489UA,421,...,0.0,1300-1359,0.0,0.0,135.0,117.0,88.0,1.0,746.0,0
1,29,1,2018-01-29,UA,19977,356,UA,19977,N843UA,356,...,0.0,1600-1659,0.0,0.0,138.0,109.0,87.0,1.0,746.0,0
2,29,1,2018-01-29,UA,19977,313,UA,19977,N453UA,313,...,0.0,2100-2159,0.0,0.0,327.0,319.0,290.0,1.0,2139.0,0
3,29,1,2018-01-29,UA,19977,311,UA,19977,N816UA,311,...,0.0,0800-0859,0.0,0.0,127.0,116.0,89.0,1.0,606.0,0
4,29,1,2018-01-29,UA,19977,258,UA,19977,N890UA,258,...,0.0,1800-1859,0.0,0.0,142.0,122.0,102.0,1.0,689.0,0

In [15]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29735 entries, 0 to 29734
Data columns (total 42 columns):
dayofmonth                         29735 non-null int64
dayofweek                          29735 non-null int64
flightdate                         29735 non-null object
marketing_airline_network          29735 non-null object
dot_id_marketing_airline           29735 non-null object
flight_number_marketing_airline    29735 non-null object
operating_airline                  29735 non-null object
dot_id_operating_airline           29735 non-null object
tail_number                        29735 non-null object
flight_number_operating_airline    29735 non-null object
originairportid                    29735 non-null object
originairportseqid                 29735 non-null object
origincitymarketid                 29735 non-null object
origin                             29735 non-null object
origincityname                     29735 non-null object
originstate                        29735 non-null object
originstatename                    29735 non-null object
destairportid                      29735 non-null object
destairportseqid                   29735 non-null object
destcitymarketid                   29735 non-null object
dest                               29735 non-null object
destcityname                       29735 non-null object
deststate                          29735 non-null object
deststatename                      29735 non-null object
crsdeptime                         29735 non-null object
deptime                            29735 non-null object
depdel15                           29735 non-null float64
deptimeblk                         29735 non-null object
taxiout                            29735 non-null float64
taxiin                             29735 non-null float64
crsarrtime                         29735 non-null object
arrtime                            29735 non-null object
arrdel15                           29735 non-null float64
arrtimeblk                         29735 non-null object
cancelled                          29735 non-null float64
diverted                           29735 non-null float64
crselapsedtime                     29735 non-null float64
actualelapsedtime                  29735 non-null float64
airtime                            29735 non-null float64
flights                            29735 non-null float64
distance                           29735 non-null float64
divairportlandings                 29735 non-null int64
dtypes: float64(11), int64(3), object(28)
memory usage: 9.5+ MB

In [18]:
flights.to_pickle('/Users/wasilaq/Metis/Proj3/pickled_files/flights')